body{ margin: 0; padding: 0;
	/*background-color: blue;*/
 
 background-image: url(logo.png); 
 background-repeat: no-repeat;
 background-position: right top;
}

 .headmast{ margin: 0px 0px 0px 0px; padding:20px 0px 20px 10px;
 	}

.top{
	background-color: #F1F1F1;
   margin:-20px 0px -10px -10px;
   padding: 10px 0px 50px 10px;
 border: 1px solid #F1F1F1; 
}
 

 .name{
 	color: #3a444a;
 	display: block;
   font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
   font-weight: 300;
   font-size: 110px;
   text-align: left;

   margin: 90px 10px 10px 430px;

   }

   .list  li{
   	display: inline;
   	margin: 0px 80px 0px 0px;
   }
   .list ul{
   	margin:45px 0px 10px 400px;
   }

   .list a{ 
   	text-decoration: none;
   font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
   color: #63956D;
   font-size: 14px;
   font-weight:bold;
   letter-spacing: 3px;
   text-transform: uppercase;

    }

    .border{
    	width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
 }

.mid{
	 padding: 10px 0px 50px 0px;}

.content p{
	margin: 50px 70px 10px 50px;

	 font-family:  Arial, sans-serif;
   color: #67342D;
   font-size: 16px;
   font-weight:bold;
   letter-spacing: 1.2px;
   text-transform: none;

}
.foot{
	background-color: #2D3439;
   margin:200px 0px 0px 0px;
   padding: 30px 0px 150px 10px;
 border: 1px solid #F1F1F1; 
}

.students{
    text-decoration: none;
   font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
   padding: 30px 20px 15px 50px;
   color: #63956D;
   font-size: 14px;
   font-weight:bold;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.insertform{
    text-decoration: none;
   font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
   padding: 30px 20px 10px 50px;
   color: #63956D;
   font-size: 14px;
   font-weight:bold;
   letter-spacing: 3px;
   text-transform: uppercase;
}
.link{

font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
font-size: 14px; 
color: #55555D; 
}

.form{
  color: #54455D;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.queryform{
  text-decoration: none;
   font-family:  "Helvetica Neue", Arial, sans-serif;
   padding: 30px 20px 10px 50px;
   color: #66656D;
   font-size: 14px;
   font-weight:bold;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.run
{  
  margin:20px 90px 10px 90px;
   padding: 10px 0px 0px 10px;
  font-family:  "Courier", Arial, sans-serif;
  color: #54455D;
  font-size: 20px;
  font-weight:bold;
  letter-spacing: 1.5px;
}

.up a{
  padding-top: 25px;
  margin: 15px 90px 10px 50px;
  text-decoration: none;
  margin:0px 30px 0px 90px;
  font-size: 24px;
  color: #26666D;
}

.lo a{
  padding-top: 25px;
  margin: 15px 90px 10px 50px;
  text-decoration: none;
  margin:0px 30px 0px 90px;
  font-size: 20px;
  color: #42222D;
}

.label{
  text-decoration: none;
  margin:20px 30px 30px 95px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #12316D;
}

.mytable{
  margin-left: 140px;
}
.mytable tr:nth-child(even) { background: #22CC33; width = 100%; }

.mytable tr:nth-child(odd) {background: #CC0033; width = 100%;  }

.mytable tr:hover {background-color: #f5f5f5; }

.mytable {
  border: 1px solid black;
  font-size: 20px;
  width = 100%;
  font-family: Verdana;

  border: 1px solid black;
    table-layout: fixed;
    width: 1100px;

}
th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}